.html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-image: url(src/day.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;      
  font-size: 16px;
}

.sunrise {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-image: url(src/sunrise.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;      
  font-size: 16px;
}

.day {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-image: url(src/day.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;      
  font-size: 16px;
}

.sunset {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-image: url(src/sunset.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;      
  font-size: 16px;
}

.weather {
  background-image: url(src/bg16);
  background-repeat: no-repeat;
  background-size: cover;
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  margin-top: 5vh;

  }
  
  

.column {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  margin-top: 3vh;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

h1 {
  font-size: 12vw;
  padding: none;
  margin: 0px;
}

h2 {
  font-size: 4vh;
  margin: 0px;
  margin: 2vh;
}

i {
  transition: 0.4s;
  color: white;
  font-size: 7vh;
  margin-left: 1vw;
}

i:hover {
  transition: 0.4s;
  color: white;
  font-size: 7vh;
  margin-left: 1vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}



input {
  background-color: white;
  border: none;
  width: 70vw;
  height: 7vh;
  font-size: 3vh;
  outline: none;
  border-radius: 10px;
  font-family: inherit;
}

.submit {
  background-color: white;
  border: none;
  width: 80vw;
  height: 7vh;
  font-size: 4vh;
  outline: none;
  border-radius: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80vw;
  height: 45vh;
  font-size: 3vh;
  margin-top: 1vh;
  border-radius: 5vw;
}


.image {
  width: 10vw;
}

span {
  margin-left: 1vw;
  margin-right: 1vw;
}



