.html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  background-color: #007EA7;
  color: white;      
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  height: auto;
  background-color: rgb(0,23,31,0.1)
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5rem;
}

i {
  transition: 0.4s;
  color: white;
  font-size: 5rem;
  margin-left: 1vw;
}

i:hover {
  transition: 0.4s;
  color: black;
  font-size: 5rem;
  margin-left: 1vw;
}

.input {
  background-color: white;
  border: none;
  width: 40vw;
  height: 10vh;
  font-size: 4rem;
  outline: none;
}

.image {
  width: 4.5rem;
}


